body{
    background-color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.container {
    margin: auto;
    width: 1440px;
}

.containe.img{
    width: 195px;
    height: 28px;
}

header{
    background-color: #ffffff;
    height: 118px;
    display: flex;
    justify-content: space-between;

}

.wrapper{
    max-width: 1280px;
    margin: auto;
}

.logo-image{
    margin: auto;
    margin-left: 0px;
}

.main-nav{
    margin: auto;
    margin-right: 0px;
}

.nav-element{
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    margin-left: 140px;
}

.buttonn {
    margin-left: 143px;
    width: 80px;
    height: 46px;
    background-color: white;
    border: black; 
    border-radius: 8px;
    border-color: black; 
    color: black;
    font-size: 16px;

}

.buttonnn{
    margin-left: 16px;
    width: 80px;
    height: 46px;
    background-color: #16133E;
    border-radius: 5;
    color: white;

}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    font-weight: SemiBold;
    vertical-align: text-top;
    font-size: 56px;
    margin-left: 156px;
    line-height: 68px;
}

.freehand-your-brand-with-a-beautiful-website p {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    margin-left: 156px;
    line-height: 36px;
    text-align: left;
    font-size: 19px;
    margin-top: 25px;  
  } 

.freehand-your-brand-with-a-beautiful-website button {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    text-align: left;
    font-size: 16px;
    margin-top: 51px;  
  } 

.freehand-your-brand-with-a-beautiful-website img {
    margin-left: 698px;
    margin-top: -550px;
  } 

.our-services h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    margin-left: 180px;
    text-align: left;
    font-size: 16px;
    margin-top: 184px;  
    color: #87A1B6;
  } 

  .our-services h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: SemiBold;
    margin-left: 180px;
    text-align: left;
    font-size: 40px;
  }

  .our-services p {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    margin-left: 180px;
    text-align: left;
    font-size: 18px;
    color: #5A7184;
  }      

  .cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  .onecard {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .our-services-images h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    margin-left: 159px;
    text-align: left;
    font-size: 16px;
    margin-top: 145px;  
    color: #87A1B6;
  } 

  .our-services-images h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: SemiBold;
    margin-left: 159px;
    text-align: left;
    font-size: 40px;
  }

  .our-services-images p {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: left;
    font-size: 18px;
    margin-bottom: 91px;
    margin-left: 159px;
    color: #5A7184;
  }    
   
  .cards-images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  .onecard-images {
    display: block;
    text-align: center;
    margin-left: 159px;
    margin-right: 47px;
  }

  .bottom-left {
    position: absolute;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    font-size: 36px;
    margin-top: 344px;
    margin-left: 48px;
    text-align: left;
  }

  .onecard-images2 {
    display: block;
    text-align: center;
    margin-left: 47px;
    margin-right: 124px;
  }

  .text-first {
    position: absolute;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    font-size: 36px;
    margin-top: 344px;
    margin-left: 48px;
  }

  .text-second {
    position: absolute;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    font-size: 36px;
    margin-top: 384px;
    margin-left: 48px;
  }

  .Choose-the-plan-that’s-right-for-your-business h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: SemiBold;
    margin-left: 149px;
    text-align: left;
    font-size: 40px;
    margin-top: 193px;
  }

  .Choose-the-plan-that’s-right-for-your-business p {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: left;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 149px;
    color: #5A7184; 
  }

.cards-new {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

.image-new-1 {
    height: 4px;
    width: 362px;
    margin: auto;
    display: block;
    margin-left: 151px;
    margin-top: 84px;
}

.image-new-2 {
    height: 4px;
    width: 362px;
    margin: auto;
    display: block;
    margin-left: 26px;
    margin-top: 84px;
}

.image-new-3 {
    height: 4px;
    width: 362px;
    margin: auto;
    display: block;
    margin-right: 151px;
    margin-top: 84px;
}

.cards-new-1 .p1 {
font-family: 'Roboto', sans-serif;
font-weight: regular;
text-align: center;
font-size: 24px;
margin-top: 54px;
margin-bottom: 31px;
}

.cards-new-2 .p2 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: center;
    font-size: 24px;
    margin-top: 54px;
    margin-bottom: 31px;
}

.cards-new-3 .p3 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: center;
    font-size: 24px;
    margin-top: 54px;
    margin-bottom: 31px;
}

.cards-new-1 .p11 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 4px;
    color: #0593FA;
}

.cards-new-2 .p22 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 4px;
    color: #56CBAE;
}

.cards-new-3 .p33 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 4px;
    color: #FA6770;
}

.cards-new-1 .p111 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;
    color: #87A1B6;
}

.cards-new-2 .p222 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;
    color: #87A1B6;
}

.cards-new-3 .p333 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;
    color: #87A1B6;
}

.cards-new-1 .p1111 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: center;
    font-size: 16px;
    margin-bottom: 54px;
    color: #87A1B6;
}

.cards-new-2 .p2222 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: center;
    font-size: 16px;
    margin-bottom: 54px;
    color: #87A1B6;
}

.cards-new-3 .p3333 {
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    text-align: center;
    font-size: 16px;
    margin-bottom: 54px;
    color: #87A1B6;
}

.cards-new-1 .button {
    margin:0 auto; 
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.requeest-further-information h3{
    text-align: center;
    font-size: 40px;
    padding-bottom: 42px;
}

.buttonsumbit{
    text-align: center;
}

.fields{
    margin-left: 370px;
    margin-right: 370px;
}

.checkbox{
    margin-left: 370px;
    margin-top: 30px;
    margin-bottom: 43px;
}

.line1{
    color: white;
    
}

.line2{
    color: white;
    margin-top: 130px;
}

.line3{
    color: white;
    margin-top: 90px;
}
   
.line4{
    color: white;

}

.line2 ul{
    list-style-type: none;
    text-decoration: none;
}

.line3 ul{
    list-style-type: none;
}

.line4 ul{
    list-style-type: none;
}

.line2 a{
    color: white;
    text-decoration: none;
    line-height: 50px;
}

.line3 a{
    color: white;
    text-decoration: none;
    line-height: 50px;
}

.line4 a{
    color: white;
    text-decoration: none;
    line-height: 50px;
}

.last-line{
    margin-bottom: 50px;
    background-color: #16143D;
}

.modal{
    display: inline;
    width: 320px;
    padding: 20px 40px;
    background-color: white;
    border-radius: 5px;

    min-height: 100px;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%); 

    box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}

.modal-close{
    width: 22px;
    height: 22px;

    border: 0;

    background-color: transparent;

    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}

.modal-close::after,
.modal-close::before{
    content: '';

    position: absolute;
    width: 19px;
    height: 3px;
    background-color: #808080;

    top: 10px;
    left: 2px;
}

.modal-close::after{
    transform: rotate(45deg);
}

.modal-close::before{
    transform: rotate(-45deg);
}



.hidden{
    display: none;
}

.b-auth-form .b-popup-h{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: o;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.b-auth-form .b-hold{
    margin-top: 20px;
    margin-bottom: 20px;
}

.b-hold{
    margin: 0px 5px 20px;
}

.b-auth-form .b-hold--add{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
}

.b-auth-recall{
    color: #4A90E2;
}

.login-checkbox{
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}
.login-checkbox input [type='checkbox'] + .checkbox-indicator{
    position: absolute;
    top: 0px;
    left: opx;

    width: 15px;
    height: 15px;

    border: 2px solid black;
}

.login-checkbox
    input[type='checkbox']:checked
    + .checkbox-indicator::before,
.login-checkbox
    input[type='checkbox']:checked
    + .checkbox-indicator::after{
    content: '';

    position: absolute;
    top: 10px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #4A90E2;
    }

    .login-checkbox
        input[type='checkbox']:checked
        +.checkbox-indicator::before{
            transform: rotate(45deg);
        }

        .login-checkbox
        input[type='checkbox']:checked
        +.checkbox-indicator::after{
            transform: rotate(-45deg);
        }

        .modal.hidden{
            display: none;
        }